img {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    background: url("./images/background.jpg") top center no-repeat;
}

.btn-download {
    width: 50%;
}

.logo {
    width: 50%;
}

.download {
    margin-top: 2rem;
    text-align: center;
}

.regis {
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: flex-end;
}

a#facebook {
    text-align: center;
    height: 32.5%;
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .logo {
        width: 100%;
    }
}

.logo {
    width: 100%;
}